CORS_ORIGIN = http://localhost:3000,http://localhost:7000
CORS_METHODS = GET,HEAD,PUT,PATCH,POST,DELETE
CORS_ALLOWED_HEADERS = Authorization,Content-Type,X-Requested-With,Accept,Origin,User-Agent,Referer,Cache-Control,X-CSRF-Token,DNT
CORS_CREDENTIALS = true
CORS_PREFLIGHT_CONTINUE = false
CORS_OPTION_SUCCESS_STATUS = 200

PORT = 7000

MONGODB_URI = Your MongoDB URL

ACCESS_TOKEN_SECRET = Your Access Token Secret
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = Your Refresh Token Secret
REFRESH_TOKEN_EXPIRY = 30d